@import "../../assets/Variables/Variables.scss";
$h-gallery: 80vh;

.gallery_wrap {
  height: 100vh;
  width: auto;
  display: flex;
  background-color: #ededf2;

  .gallery {
    height: 80vh;
    width: 70vw;
    margin: auto;
  }

  .carousel-item {
    height: $h-gallery;
  }
  img {
    height: 100% !important;
  }
}

// img {
//   height: 800px !important;
// }
