@import "../../assets/Variables/Variables.scss";
$h-gallery: 80vh;

.gallery_wrap {
  max-height: 100vh;
  display: flex;
  padding: 0 0 50% 0;
  position: relative;

  .whall {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: $coldGrey;
  }

  .gallery {
    height: 80%;
    width: 70%;
    margin: auto;
  }

  .carousel {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .carousel-inner {
    height: inherit;
    width: inherit;

    .carousel-item {
      max-height: 100%;
      height: inherit;
      width: inherit;
      // display: flex;
    }
  }

  img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    // max-height: 100%;
    // width: auto;
  }
}


