<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div id="footer-conteiner" class="container">
    <footer>
      <div id="footer-row" class="row">
        <div class="footer-col col-5 col-md-2 mb-3">
          <h5 class="footer-title">Контакты</h5>
          <ul class="nav flex-column">
            <li class="li-title nav-item"><p class="p-0">Эксткурсии</p></li>
            <li class="li-title nav-item"><p class="p-0">Недвижимость</p></li>
            <li class="li-title nav-item"><p class="p-0">Размещение и отдых</p></li>
            <li class="li-title nav-item"><p class="p-0">Строительство домов</p></li>
          </ul>
        </div>

        <div class="footer-col col-5 col-md-2 mb-3">
          <h5 class="footer-title">&nbsp;</h5>
          <ul class="nav flex-column">
            <li class="nav-item"><p class="p-0">+7 (978) 844-07-04</p></li>
            <li class="nav-item"><p class="p-0">+7 (978) 551-73-42</p></li>
            <li class="nav-item"><p class="p-0">+7 (978) 551-73-42</p></li>
            <li class="nav-item"><p class="p-0">+7 (978) 845-79-35</p></li>
          </ul>
        </div>

        <div id="phone-number" class="footer-col col-5 col-md-2 mb-3">
          <h5 class="footer-title">&nbsp;</h5>
          <ul class="nav flex-column">
            <li class="nav-item"><p class="p-0">+7 (978) 926-86-48</p></li>
            <li class="nav-item"><p class="p-0">+7 (978) 740-34-69</p></li>
            <li class="nav-item"><p class="p-0">+7 (978) 740-34-69</p></li>
            <li class="nav-item"><p class="p-0">+7 (978) 119-83-35</p></li>
          </ul>
        </div>
      </div>

      <div
        id="linksBlock"
        class="d-flex flex-column flex-sm-row justify-content-end py-4 my-4 border-top"
      >
        <ul id="list-linkBlock" class="list-unstyled d-flex">
          {{! <li class="ms-3"><a class="link" href="#"><svg
                class="bi"
                width="24"
                height="24"
              ><use xlink:href="#twitter"></use></svg></a></li> }}
          <li class="ms-3"><a class="link" href="#"><svg
                class="bi"
                width="24"
                height="24"
              ><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link" href="#">
              <img src="images/vk.svg" alt=""  width="30" height="30" style="position:relative; top:-3" /></a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>