<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sudak24</title>

    <link href="css/header/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/modal/modal.css">
    <link href="css/mainStyles/bootstrap.min.css" rel="stylesheet" />
    <link href="css/mainStyles/style.css" rel="stylesheet" />

    <script src="js/fetch.js" type="module"></script>
    <script src="js/main.js" type="module"></script>
    <script src="js/card_modal.js" type="module"></script>
  </head>
  <body>
      {{> include}}
      {{> header}}

      <div class="container px-4 py-5" id="custom-cards">
        <div
          id="cards-container"
          class="underground row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5"
        >
        </div>
      </div>

      {{> footer}}
    </main>
  </body>
  <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</html>