.line, .wrapper .wrapper-content .sidebar .sidebar-insides .sidebar-line {
  height: 2px;
  width: 100%;
  background-color: white;
}

.foot_h {
  font-size: 35px;
  color: white;
  margin: auto 0 0 0;
}

.foot_cont_text {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
}

.wrapper {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 50% 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: rgba(255, 166, 0, 0.877);
}

.wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper .wrapper-content {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.wrapper .wrapper-content .header {
  width: 100%;
  height: auto;
}

.wrapper .wrapper-content .header .logo {
  width: auto;
  height: auto;
  margin: calc(12px + 20 * (100vw / 1920)) 7% 0 calc(20px + 40 * (100vw / 1920));
}

.wrapper .wrapper-content .header .logo h1 {
  font-size: calc(10px + 50 * (100vw / 1920));
}

@media (max-width: 768px) {
  .wrapper .wrapper-content .header .logo h1 {
    font-size: 30px;
  }
}

.wrapper .wrapper-content .sidebar {
  border-radius: 15px;
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .wrapper .wrapper-content .sidebar {
    margin-left: 70px !important;
    margin-right: 70px !important;
    margin-top: 22px !important;
  }
}

.wrapper .wrapper-content .sidebar .sidebar-insides {
  height: auto;
  width: auto;
  margin: calc(10px + 40 * (100vw / 1920));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .wrapper-content .sidebar .sidebar-insides h3 {
  color: #fbfbfd;
  letter-spacing: 3px;
  font-size: calc(2px + 35 * (100vw / 1920));
  padding-bottom: calc(1px + 49 * (100vw / 1920));
  margin-bottom: 0;
}

@media (max-width: 1440px) {
  .wrapper .wrapper-content .sidebar .sidebar-insides h3 {
    letter-spacing: 2px;
  }
}

@media (max-width: 768px) {
  .wrapper .wrapper-content .sidebar .sidebar-insides h3 {
    letter-spacing: 1px;
    font-size: 17px;
    padding-bottom: 20px;
  }
}

.wrapper .wrapper-content .sidebar .sidebar-insides .sidebar-line {
  height: 1px;
}

.wrapper .wrapper-content .sidebar .sidebar-insides .info {
  color: #fbfbfd;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .wrapper-content .sidebar .sidebar-insides .info ul {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-left: calc(10px + 30 * (100vw / 1920));
}

@media (max-width: 768px) {
  .wrapper .wrapper-content .sidebar .sidebar-insides .info ul {
    padding-left: 20px;
  }
}

.wrapper .wrapper-content .sidebar .sidebar-insides .info ul li {
  padding-top: calc(-2px + 82 * (100vw / 1920));
  font-size: calc(0px + 24 * (100vw / 1920));
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .wrapper .wrapper-content .sidebar .sidebar-insides .info ul li {
    font-size: 10px;
    padding-top: 30px;
    letter-spacing: 2px;
  }
}
/*# sourceMappingURL=startPage.css.map */