.line, .box .links .white_line, .box .contacts .white_line {
  height: calc(2px / 5);
  width: 100%;
  background-color: white;
}

.foot_h, .box .links h3, .box .contacts h3 {
  font-size: calc(2px + 33 * (100vw / 1920));
  color: white;
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  .foot_h, .box .links h3, .box .contacts h3 {
    font-size: 16px !important;
  }
}

.foot_cont_text, .footer-block, .box .contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
}

*,
*::after,
*::before {
  margin: 0;
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: calc(100% - (100% / 8));
}

.content {
  min-width: 768px;
}

footer {
  min-width: 768px;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: calc(5px + 115 * (100vw / 1920));
}

@media (max-width: 768px) {
  footer {
    padding: 50px;
  }
}

.footer-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1d1d1d;
}

.footer-container .mini-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

.footer-container .mini-container .box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .links {
  width: auto;
  height: auto;
  margin: 0 auto 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
}

.footer-block {
  font-size: calc(2px + 18 * (100vw / 1920));
}

@media (max-width: 768px) {
  .footer-block {
    font-size: 9px !important;
  }
}

.box .links .footer-block a {
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
  text-decoration: none;
  margin: auto 0;
}

.box .links .footer-block a img {
  margin: auto 10px auto 0;
  height: auto;
  width: calc(8px + 16 * (100vw / 1920));
}

@media (max-width: 768px) {
  .box .links .footer-block a img {
    width: 15px;
  }
}

.box .links .footer-block a p {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  margin-bottom: 0;
}

.box .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: auto;
  margin: 0 auto 0 0;
}

.box .contacts .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset !important;
  -webkit-box-direction: unset !important;
      -ms-flex-direction: unset !important;
          flex-direction: unset !important;
}

.box .contacts .flex-box .section {
  padding-right: 30px;
}

.box .contacts ul li {
  list-style-type: none;
  color: white;
  margin-left: 0;
  padding-left: 0;
  margin: auto 0;
}
/*# sourceMappingURL=index.css.map */