@import "../components/assets/Variables/Variables.scss";
*,
*::after,
*::before {
  margin: 0;
  border: 0;
  padding: 0;
  // box-sizing: block;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}
body {
  min-height: 100vh;
  // height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  // min-height: ;
  height: calc(100% - (100% / 8));
  // width: 1440px;
}
.content {
  min-width: 768px;
}
footer {
  min-width: 768px;
  // min-height: 250px;
  max-height: 250px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // padding: 50px;
  padding: calc(5px + 115 * (100vw / 1920));
  // padding: 0 0 50%
  @media(max-width: 768px) {
    padding: 50px;
  }
  // height: calc(110px + 140 * (100vw / 1920));
}

.footer-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  background-color: rgb(29, 29, 29);
  // background-color: green;
}

.footer-container .mini-container {
  display: flex;
  width: 100%;
  // background-color: green;
  margin: auto;
}

.footer-container .mini-container .box {
  // height: auto;
  width: 50%;
  display: flex;
}
.box .links {
  width: auto;
  height: auto;
  // margin: calc(-7px + 44.5 * (100vw / 1920)) auto auto 10%; // 37.5
  margin: 0 auto 0 10%;
  display: flex;
  flex-direction: column;
  padding-top: 0;

  h3 {
    @extend .foot_h;
  }
  .white_line {
    @extend .line;
  }
}
.footer-block {
  @extend .foot_cont_text;
  font-size: calc(2px + 18 * (100vw / 1920));
  @media (max-width: 768px) {
    font-size: 9px !important;
  }

  // display: flex;
}
.box .links .footer-block a {
  height: auto;
  display: inline-flex;
  color: white;
  text-decoration: none;
  margin: auto 0; // 1px

  img {
    margin: auto 10px auto 0;
    height: auto;
    width: calc(8px + 16 * (100vw / 1920)); // 15
    @media (max-width: 768px) {
      width: 15px;
    }

    // background-color: black;
  }
  p {
    // font-size: 20px; //10
    height: 100%;
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    // position: absolute;
    // top: 50%;
    // height: auto;
    // vertical-align: middle;
    margin: auto 0;
    margin-bottom: 0;
  }
}

.box .contacts {
  display: flex;
  flex-direction: column;
  // height: 100%;
  height: auto;
  width: auto;
  // margin: calc(-7px + 44.5 * (100vw / 1920)) auto auto 0;
  margin: 0 auto 0 0;
  // background-color: green;

  h3 {
    @extend .foot_h;
  }

  .white_line {
    @extend .line;
  }

  .flex-box {
    display: flex;
    flex-direction: unset !important;

    .section {
      padding-right: 30px;
    }
  }

  ul {
    @extend .foot_cont_text;
    // padding-right: px;

    li {
      list-style-type: none;
      color: white;
      margin-left: 0;
      padding-left: 0;
      margin: auto 0;
    }
  }
}
