$p-lr: 2rem;
$p-tb: 3rem;

.modal-backdrop {
  min-width: 425px;
  height: 100vh;
}
.modal-dialog {
  min-width: 200px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.modal-body {
  padding: 2rem 0 !important;
}
.modal-body-conteiner {
  padding: 0 3rem;
}

#carousel {
  max-width: 30rem;
}

.carousel-item {
  min-height: 20rem;
}

@media (min-width: 1440px) {
  .modal-dialog{min-width: 1000px !important}
}

@media (max-width: 1440px) {
  .modal-dialog{max-width: 1000px !important}
}

@media (max-width: 1024px) {
  .modal-dialog{max-width: 750px !important}
}

@media (max-width: 767px) {
  .modal-dialog{max-width: 420px !important}
  #textCol{padding-top: 14px;}
}

@media (max-width: 425px) {
  .modal-dialog{max-width: 400px !important}
}




// @media (min-width: )