@import "../../assets/Variables/Variables.scss";
.wrapper-button {
  max-height: 35vh;
  background-color: $whiteColor;
  padding: 0 0 16% 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-whall {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-flex;
  width: 50%;
  // height: 100%;
  // background-color: $greenColor;

  button {
    height: 60%;
    width: 50%;
    margin: auto;
    background-color: $coldGrey;
    border-radius: 50px;
    border: none;
    // line-height: 10px;
    h3 {
      // font-size: 40px;
      font-size: calc(5px + 35 * (100vw / 1920));
      margin-bottom: 0;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
    p {
      // font-size: 30px;
      font-size: calc(0px + 30 * (100vw / 1920));
      margin-bottom: 0;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  button:hover {
    background-color: $greyColor;
  }
}
.lines {
  display: inline-flex;
  justify-content: end;
  width: 50%;
  height: 100%;
  // background-color: $greenColor;

  img {
    height: inherit;
    width: auto;
  }
}
