$whiteColor: #fbfbfd;
$blackColor: rgb(22, 22, 22);
$orangeColor: rgba(255, 166, 0, 0.877);
$greenColor: rgb(45, 177, 45);
$coldGrey: #edeef2;
$greyColor: rgba(163, 163, 163, 0.911);
$size: 24px;

.line {
  height: 2px;
  width: 100%;
  // margin: auto;
  background-color: white;
}

.foot_h {
  font-size: 35px;
  color: white;
  margin: auto 0 0 0;
}

.foot_cont_text {
  height: 120px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
}
