$whiteColor: #fbfbfd;
$blackColor: rgb(22, 22, 22);
$orangeColor: rgba(255, 166, 0, 0.877);
$greenColor: rgb(45, 177, 45);
$coldGrey: #edeef2;
$greyColor: rgba(163, 163, 163, 0.911);

.line {
  height: calc(2px / 5);
  width: 100%;
  // margin: 1% 0;
  // margin: auto;
  background-color: white;
}

.foot_h {
  font-size: calc(2px + 33 * (100vw / 1920));
  color: white;
  margin-bottom: 0 !important;
  // line-height: auto;
  @media (max-width: 768px) {
    font-size: 16px !important;
  }

  // margin-block-start: 0 !important;
  // margin: auto 0 0 0;
}

.foot_cont_text {
  // height: 120px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
}
